<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
</head>
<body>
    <h1>Welcome to My Blog</h1>
    <div id="posts-container">
        <!-- Los posts serán cargados aquí -->
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetch('http://127.0.0.1:8000/api/posts/')
                .then(response => response.json())
                .then(data => {
                    const postsContainer = document.getElementById('posts-container');
                    data.forEach(post => {
                        const postElement = document.createElement('div');
                        postElement.classList.add('post');
                        
                        const postTitle = document.createElement('h2');
                        postTitle.textContent = post.title;
                        
                        const postContent = document.createElement('p');
                        postContent.textContent = post.content;

                        postElement.appendChild(postTitle);
                        postElement.appendChild(postContent);
                        
                        postsContainer.appendChild(postElement);
                    });
                })
                .catch(error => {
                    console.error('Error fetching posts:', error);
                });
        });
    </script>
</body>
</html>



